/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* HTML element (SMACSS base) rules */
@import "normalize.css";

/* Layout rules */
@import "layouts/responsive.css";

/* Component (SMACSS module) rules */
@import "components/misc.css";
/* Optionally, add your own components here. */
@import "print.css";

/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */
body { 
    min-width: 520px; 
}

.panel-col-bottom.panel-panel {
    display: none;
}

.dnd-col { 
    /**width: 170px; float: left; padding-bottom: 100px;*/ 
    float: left;
    min-height:  100px;
    min-width: 100%;
    background-color: #E8E8E8;
}
.dnd-col.dnd-disable .portlet{
    opacity: 0.5;
}

.dnd-col.dnd-enable {
    margin-bottom: 30px;
}
.portlet { 
    margin: 0 1em 1em 0; 
}

.portlet-header { 
    margin: 0.3em; padding-bottom: 4px; padding-left: 0.2em; 
}

.portlet-header .ui-icon { 
    float: right; 
}

.portlet-content { 
    padding: 0.4em; 
}

.ui-sortable-placeholder { 
    border: 1px dotted black; 
    visibility: visible !important; 
    height: 50px !important; 
}

.ui-sortable-placeholder * { 
    visibility: hidden; 
}

.hidden {
    display: none;
}

#drop-zone {
    width: 100%;
    
}


.item-wrapper { 
   position: relative; 
   padding: 3px; 
}
 
.drag-handle { 
   position: absolute; 
   border: 3px solid transparent; 
   left: 0; 
   right: 0; 
   top: 0; 
   bottom: 0; 
}
 
.item-container { 
   position: relative; 
   text-align: center; 
}

.item-wrapper.mx-state-moving { 
   background-color: #fcefa1; 
   color: #000; 
   margin: 0; 
}

.drag-container .item-wrapper.mx-content-hover { 
   background-color: #cce0ff; 
   color: #000; 
}
 
.drop-container.mx-content-hover { 
   background-color: #ccff99; 
}
 
.sort-container .drag-handle.mx-content-hover { 
   border-color: #cce0ff; 
}
 
.sort-container .item-wrapper.mx-content-hover { 
   color: #000; 
}

.drop-container {
    display: none;
}
.sort-container {
    width: 100%;
    min-height: 1000px;
    background-color: #E0E0E0 ;
}

.sort-container .drag-handle {
    display: none;
}

.option-col .custom-option-form {
    display: none;
}

#waiver-dnd-ui-waiver-form .form-checkboxes .form-type-checkbox,
#waiver-dnd-ui-waiver-form .form-radios .form-type-radio {
    float: left;
    margin: 0 20px;
}

#waiver-dnd-ui-waiver-form .form-checkboxes ,
#waiver-dnd-ui-waiver-form .form-radios {
    clear: both;
}

#waiver-dnd-ui-waiver-form .form-item {
    margin-botoom: 40px;
}

#edit-field-waiver-form-json {
    display: none;
}