/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* HTML element (SMACSS base) rules */
@import "normalize.css";

/* Layout rules */
@import "layouts/responsive.css";

/* Component (SMACSS module) rules */
@import "components/misc.css";
/* Optionally, add your own components here. */
@import "print.css";

/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */
body { 
    min-width: 520px; 
}

.column { 
    /**width: 170px; float: left; padding-bottom: 100px;*/ 
}

.portlet { 
    margin: 0 1em 1em 0; 
}

.portlet-header { 
    margin: 0.3em; padding-bottom: 4px; padding-left: 0.2em; 
}

.portlet-header .ui-icon { 
    float: right; 
}

.portlet-content { 
    padding: 0.4em; 
}

.ui-sortable-placeholder { 
    border: 1px dotted black; 
    visibility: visible !important; 
    height: 50px !important; 
}

.ui-sortable-placeholder * { 
    visibility: hidden; 
}

.hidden {
    display: none;
}